<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<h1><%= @list.name  %></h1>

<%= link_to "Delete #{@list.name}",
            list_path(@list),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

<%= link_to 'Back', root_path %>
